/* $Header: /cvsroot/bitweaver/_bit_themes/css/default.css,v 1.4 2009/11/09 15:51:10 wjames5 Exp $ */
/* site structure */
/* styles for anchoring footer to browser window */
html                { height:100%; }
body                { height:100%; margin:0; padding:0;}
#outerwrapper       { min-height:100%; position:relative; }
#container:after    { content: ".";  display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
/* padding on wrapper and height on footer determines the footer height which is required for js-free footer anchoring */
#wrapper            { padding-bottom:100px; clear:both}
#footer             { height:100px; position:absolute; margin-top:-100px;}

/* modules */
.module       {padding:0.5em; margin:0.5em;}
.module ul    {margin:0; padding:0; list-style:none;}
.module ul ul {margin:0 0 0.5em 1.2em;}
.module ul li {margin:0;}
.module ol    {margin:0 0 0 1.2em;}
.module ol li {margin:0;}

/* module help on admin page */
.modulehelp kbd      {font-family:monospace;}
.modulehelp dt       {width:27%; float:left; text-align:right; font-weight:bold;}
.modulehelp dd       {width:70%; margin-left:30%;}
.modulehelp .example {text-decoration:underline;}

/* priorities */
.prio1 {background:#dfc !important;}
.prio2 {background:#efc !important;}
.prio3 {background:#ffc !important;}
.prio4 {background:#fec !important;}
.prio5 {background:#fdc !important;}

/* structure navigation */
.navigation .left  {float:left;}
.navigation .right {float:right;}

/* action icons */
.floaticon      {float:right; text-align:right;}
.floaticon a    {padding:0 3px;}

span.actionicon {float:right;}
td.actionicon   {text-align:right;}
.actionicon a   {padding:0 3px;}

/* miscellaneous */
table        {border-collapse:collapse; border-spacing:0; padding:0; margin:0; width:100%;}
.highlight   {font-weight:bolder;}
.popup       {width:250px; background:#fff; padding:0.5em; border:1px solid #999;}
.closebutton {position:absolute; top:2px; right:2px;}

/* stuff that was in base.css that the basic, clean, lessneat, & blueprint styles need - for now */
.navbar ul          {padding:0; margin:0; list-style:none;}
.navbar ul li       {float:left;}
.icon,.icon:hover,
a.icon,a.icon:hover {border:0px;}

/* pagination */
.pagination			{text-align:left; padding:15px 0px;}
.numbered_pagination {text-align:left;}
.numbered_pagination div { background-color:#eaeaea; border:1px solid #c9c9c9; color:#626262; font-size:14px; cursor:pointer; }
.numbered_pagination .page_text { float:left; margin:5px 10px 0 5px; border:0 none; background:none; }
.numbered_pagination .page_num, 
.numbered_pagination .page_num_current,
.numbered_pagination .disabled { color:#c9c9c9; border-color:#e3e3e3; cursor:auto; float:left; padding:3px 6px; margin-right:7px; display:block;} 
.numbered_pagination .page_num:hover,
.numbered_pagination .page_num_current { color:#c9c9c9; background-color:#626262; border-color:#626262; }
.numbered_pagination .page_num:hover a,
.numbered_pagination .page_num:hover a:hover {text-decoration:none; color:#c9c9c9; }

/* IE hacks */
#header		{z-index:5000} /* For IE6; Required to get top menu overlapping all body elements. Relatively harmless for other browsers, YMMV */
